// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3566.dtsi"
#include "rk3568-linux.dtsi"

/ {
	model = "MINILOONG Pocket1";
	chassis-type = "handset";
	compatible = "powkiddy,x55", "rockchip,rk3566";


	hdmi_sound: hdmi-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,name = "rockchip,hdmi";
		status = "okay";

		simple-audio-card,cpu {
			sound-dai = <&i2s0_8ch>;
		};

		simple-audio-card,codec {
			sound-dai = <&hdmi>;
		};
	};


	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc0;
		mmc2 = &sdmmc2;
		mmc3 = &sdmmc1;
	};

	chosen: chosen {
		stdout-path = "serial2:1500000n8";
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		power-supply = <&vcc_sys>;
		enable-gpios = <&gpio0 RK_PB6 GPIO_ACTIVE_LOW>;
		pwms = <&pwm3 0 25000 0>;
		brightness-levels = <
		55  55  55  55  55  55  55  55
		55  55  55  55  55  57  58  59
		61  62  63  64  66  67  68  70
		71  72  73  75  76  77  79  80
		81  82  84  85  86  88  89  90
		91  93  94  95  97  98  99  100
		102 103 104 106 107 108 109 111
		112 113 115 116 117 118 120 121
		122 124 125 126 127 129 130 131
		133 134 135 136 138 139 140 142
		143 144 145 147 148 149 151 152
		153 154 156 157 158 160 161 162
		163 165 166 167 169 170 171 172
		174 175 176 178 179 180 181 183
		184 185 187 188 189 190 192 193
		194 196 197 198 199 201 202 203
		205 206 207 208 210 211 212 214
		215 216 217 219 220>;
		default-brightness-level = <120>;

	};

	battery: battery {
		compatible = "simple-battery";
		charge-full-design-microamp-hours = <4000000>;
		charge-term-current-microamp = <300000>;
		constant-charge-current-max-microamp = <2000000>;
		constant-charge-voltage-max-microvolt = <4300000>;
		factory-internal-resistance-micro-ohms = <91000>;
		voltage-max-design-microvolt = <4138000>;
		voltage-min-design-microvolt = <3400000>;

		ocv-capacity-celsius = <20>;
		ocv-capacity-table-0 =  <4138000 100>, <4083000 95>, <4059000 90>, <4044000 85>,
					<4030000 80>, <4020000 75>, <4006000 70>, <3972000 65>,
					<3934000 60>, <3904000 55>, <3878000 50>, <3857000 45>,
					<3843000 40>, <3826000 35>, <3801000 30>, <3768000 25>,
					<3735000 20>, <3688000 15>, <3621000 10>, <3553000 5>,
					<3400000 0>;
	};

	gpio_keys_vol: gpio-keys-vol {
		compatible = "gpio-keys";
		autorepeat;
		pinctrl-0 = <&btn_pins_vol>;
		pinctrl-names = "default";

		button-voldown {
			gpios = <&gpio4 RK_PA4 GPIO_ACTIVE_LOW>;
			label = "VOLUMEDOWN";
			linux,code = <KEY_VOLUMEDOWN>;
		};

		button-volup {
			gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_LOW>;
			label = "VOLUMEUP";
			linux,code = <KEY_VOLUMEUP>;
		};
	};


	joypad: rocknix-joypad {
		compatible = "rocknix-joypad";
		status = "okay";

		/* the following 4 dts entries starting from joypad-name are important to keep
		   compatibility with existing userspace programs such as ES and retroarch */
		joypad-name = "retrogame_joypad";
		joypad-product = <0x1101>;
		joypad-revision = <0x0100>;
		joypad-vendor = <0x484B>;

		pwms = <&pwm2 0 1000000000 0>;
		pwm-names = "enable";

		/* analog mux define */
		io-channel-names = "key-RY", "key-RX", "key-LY", "key-LX";
		io-channels = <&saradc 1>,<&saradc 0>,<&saradc 3>, <&saradc 2>;

		/* gpio pincontrol setup */
		pinctrl-names = "default";
		pinctrl-0 = <&btn_pins_ctrl>;

		/* adc calculate scale */
		button-adc-scale = <2>;

		/* adc deadzone range (minimum should be around 12%) */
		button-adc-deadzone = <64>;

		/* specifies fuzz value that is used to filter noise from
		   the event stream. (around 3%) */
		button-adc-fuzz = <54>;
		button-adc-flat = <54>;

		/* analog Stick data tuning value(precent)
		   p = positive direction, n = negative direction
		   report value = (real_adc_data * tuning_value) / 100 */
		abs_x-p-tuning = <280>;
		abs_x-n-tuning = <280>;

		abs_y-p-tuning = <280>;
		abs_y-n-tuning = <280>;

		abs_rx-p-tuning = <180>;
		abs_rx-n-tuning = <180>;

		abs_ry-p-tuning = <180>;
		abs_ry-n-tuning = <180>;

		invert-absx;
		invert-absy;

		/* poll device interval (ms), adc read interval */
		poll-interval = <10>;

		/* gpio button auto repeat set value : default disable */
		/* autorepeat; */

		/*    *** Powkiddy X55 Switch layout ***
		|------------------------------------------------|
		| sw15                                      sw13 |
		| sw16                                      sw14 |
		|------------------------------------------------|
		|                                                |
		|   Analog     |-------------------|             |
		|    sw11      |                   |      sw8    |
		|              |                   |   sw7   sw5 |
		|              |    LCD Display    |      sw6    |
		|     sw1      |                   |             |
		|  sw3  sw4    |                   |    Analog   |
		|     sw2      |-------------------|     sw12    |
		|                                                |
		| sw9 Vol+                           Vol- sw10   |
		|                                                |
		|------------------------------------------------| */

		sw1 {
			gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_LOW>;
			label = "GPIO DPAD-UP";
			linux,code = <BTN_DPAD_UP>;
		};
		sw2 {
			gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_LOW>;
			label = "GPIO DPAD-DOWN";
			linux,code = <BTN_DPAD_DOWN>;
		};
		sw3 {
			gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_LOW>;
			label = "GPIO DPAD-LEFT";
			linux,code = <BTN_DPAD_LEFT>;
		};
		sw4 {
			gpios = <&gpio3 RK_PD0 GPIO_ACTIVE_LOW>;
			label = "GPIO DPAD-RIGHT";
			linux,code = <BTN_DPAD_RIGHT>;
		};
		sw5 {
			gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_LOW>;
			label = "GPIO BTN-A";
			linux,code = <BTN_EAST>;
		};
		sw6 {
			gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_LOW> ;
			label = "GPIO BTN-B";
			linux,code = <BTN_SOUTH>;
		};
		sw7 {
			gpios = <&gpio3 RK_PD2 GPIO_ACTIVE_LOW>;
			label = "GPIO BTN-Y";
			linux,code = <BTN_WEST>;
		};
		sw8 {
			gpios = <&gpio3 RK_PD4 GPIO_ACTIVE_LOW>;
			label = "GPIO BTN-X";
			linux,code = <BTN_NORTH>;
		};
		sw9 {
			gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_LOW>;
			label = "BTN_SELECT";
			linux,code = <BTN_SELECT>;
		};
		sw10 {
			gpios = <&gpio4 RK_PA3 GPIO_ACTIVE_LOW>;
			label = "BTN_START";
			linux,code = <BTN_START>;
		};
		/* this sw11 entry is SPECIAL, most RK3566 devices do not have
		   this physical button but for the sake of keeping compatibility
		   with ES and retroarch, this phantom button and offset will
		   allow existing userspace programs to work without doing any
		   new remapping thus saving lots of headaches and extra work */
		sw11 {
			gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_LOW>;
			label = "GPIO BTN_F";
			linux,code = <BTN_MODE>;
		};
		sw12 {
			gpios = <&gpio2 RK_PC5 GPIO_ACTIVE_LOW>;
			label = "BTN_THUMBL";
			linux,code = <BTN_THUMBL>;
		};
		sw13 {
			gpios = <&gpio4 RK_PA7 GPIO_ACTIVE_LOW>;
			label = "BTN_THUMBR";
			linux,code = <BTN_THUMBR>;
		};
		sw14 {
			gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_LOW>;
			label = "GPIO BTN_TR";
			linux,code = <BTN_TR>;
		};
		sw15 {
			gpios = <&gpio4 RK_PA1 GPIO_ACTIVE_LOW>;
			label = "GPIO BTN_TR2";
			linux,code = <BTN_TR2>;
		};
		sw16 {
			gpios = <&gpio3 RK_PD6 GPIO_ACTIVE_LOW>;
			label = "GPIO BTN_TL";
			linux,code = <BTN_TL>;
		};
		sw17 {
			gpios = <&gpio3 RK_PD7 GPIO_ACTIVE_LOW>;
			label = "GPIO BTN_TL2";
			linux,code = <BTN_TL2>;
		};
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rk817 1>;
		clock-names = "ext_clock";
		pinctrl-0 = <&wifi_enable_h>;
		pinctrl-names = "default";
		post-power-on-delay-ms = <200>;
		reset-gpios = <&gpio0 RK_PC4 GPIO_ACTIVE_LOW>;
	};

	rk817_sound: rk817-sound {
		status = "okay";
		compatible = "rockchip,multicodecs-card";
		rockchip,card-name = "rockchip-rk817";
		rockchip,format = "i2s";
		rockchip,mclk-fs = <256>;
		rockchip,cpu = <&i2s1_8ch>;
		rockchip,codec = <&rk817_codec>;
		hp-det-gpio = <&gpio4 RK_PC6 GPIO_ACTIVE_HIGH>;
		spk-con-gpios = <&gpio0 RK_PC0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det &spk_amp_enable_h>;
		rockchip,audio-routing =
			"Headphone", "HPOL",
			"Headphone", "HPOR",
			"Speaker", "HPOL",
			"Speaker", "HPOR";
	};

	spk_amp: audio-amplifier {
		compatible = "simple-audio-amplifier";
		enable-gpios = <&gpio0 RK_PC0 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&spk_amp_enable_h>;
		pinctrl-names = "default";
		sound-name-prefix = "Speaker Amp";
	};

	vcc5v0_host: regulator-vcc5v0-host {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&vcc5v0_host_en>;
		pinctrl-names = "default";
		regulator-name = "vcc5v0_host";
		vin-supply = <&dcdc_boost>;
	};

/*
	vcc_spk: regulator-vcc-spk {
		compatible = "regulator-fixed";
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
		gpio = <&gpio0 RK_PC0 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&vcc_spk_en>;
		pinctrl-names = "default";
		post-power-on-delay-ms = <200>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-name = "vcc_spk";
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
*/
	vcc_sys: regulator-vcc-sys {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3800000>;
		regulator-max-microvolt = <3800000>;
		regulator-name = "vcc_sys";
	};

	vcc_wifi: regulator-vcc-wifi {
		compatible = "regulator-fixed";
		gpio = <&gpio2 RK_PC1 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&vcc_wifi_h>;
		pinctrl-names = "default";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc_wifi";
	};

	vcc_sd: regulator-vcc-sd {
		compatible = "regulator-fixed";
		gpio = <&gpio0 RK_PA5 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&vcc_sd_h>;
		pinctrl-names = "default";
		regulator-name = "vcc_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-low;
		startup-delay-us = <10000>;
	};
/*
	vibrator:vibrator {
		compatible = "pwm-vibrator";
		pwms = <&pwm2 0 1000000 0>;
		pwm-names = "enable";
	};*/
};

&combphy1_usq {
	status = "okay";
};

&cru {
	assigned-clocks = <&pmucru CLK_RTC_32K>, <&cru PLL_GPLL>,
			  <&pmucru PLL_PPLL>, <&cru PLL_VPLL>;
	assigned-clock-rates = <32768>, <1200000000>,
			       <200000000>, <594000000>;
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&cpu1 {
	cpu-supply = <&vdd_cpu>;
};

&cpu2 {
	cpu-supply = <&vdd_cpu>;
};

&cpu3 {
	cpu-supply = <&vdd_cpu>;
};

&video_phy0 {
	status = "okay";
};

&dsi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;


	panel: panel@0 {
		compatible = "simple-panel-dsi";
		reg = <0>;
		backlight = <&backlight>;
		enable-gpios = <&gpio0 RK_PB5 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio0 RK_PB7 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_enable_gpio &lcd_rst_gpio>;
		prepare-delay-ms = <120>;
		reset-delay-ms = <120>;
		init-delay-ms = <120>;
		stbyb-delay-ms = <120>;
		enable-delay-ms = <120>;
		disable-delay-ms = <120>;
		unprepare-delay-ms = <120>;
		width-mm = <229>;
		height-mm = <143>;
		dsi,flags = <0xa03>;
		dsi,format = <0>;
		dsi,lanes = <4>;
		rotation = <270>;
		panel-init-sequence = [
			39 00 04 ff 98 81 03 15 00 02 01 00 15 00 02 02
			00 15 00 02 03 72 15 00 02 04 00 15 00 02 05 00
			15 00 02 06 09 15 00 02 07 00 15 00 02 08 00 15
			00 02 09 01 15 00 02 0a 00 15 00 02 0b 00 15 00
			02 0c 01 15 00 02 0d 00 15 00 02 0e 00 15 00 02
			0f 00 15 00 02 10 00 15 00 02 11 00 15 00 02 12
			00 15 00 02 13 00 15 00 02 14 00 15 00 02 15 00
			15 00 02 16 00 15 00 02 17 00 15 00 02 18 00 15
			00 02 19 00 15 00 02 1a 00 15 00 02 1b 00 15 00
			02 1c 00 15 00 02 1d 00 15 00 02 1e 40 15 00 02
			1f 80 15 00 02 20 05 15 00 02 21 02 15 00 02 22
			00 15 00 02 23 00 15 00 02 24 00 15 00 02 25 00
			15 00 02 26 00 15 00 02 27 00 15 00 02 28 33 15
			00 02 29 02 15 00 02 2a 00 15 00 02 2b 00 15 00
			02 2c 00 15 00 02 2d 00 15 00 02 2e 00 15 00 02
			2f 00 15 00 02 31 00 15 00 02 32 00 15 00 02 33
			00 15 00 02 34 04 15 00 02 35 00 15 00 02 36 00
			15 00 02 37 00 15 00 02 38 3c 15 00 02 39 00 15
			00 02 3a 40 15 00 02 3b 40 15 00 02 3c 00 15 00
			02 3d 00 15 00 02 3e 00 15 00 02 3f 00 15 00 02
			40 00 15 00 02 41 00 15 00 02 42 00 15 00 02 43
			00 15 00 02 44 00 15 00 02 50 01 15 00 02 51 23
			15 00 02 52 45 15 00 02 53 67 15 00 02 54 89 15
			00 02 55 ab 15 00 02 56 01 15 00 02 57 23 15 00
			02 58 45 15 00 02 59 67 15 00 02 5a 89 15 00 02
			5b ab 15 00 02 5c cd 15 00 02 5d ef 15 00 02 5e
			11 15 00 02 5f 01 15 00 02 60 00 15 00 02 61 15
			15 00 02 62 14 15 00 02 63 0e 15 00 02 64 0f 15
			00 02 65 0c 15 00 02 66 0d 15 00 02 67 06 15 00
			02 68 02 15 00 02 69 07 15 00 02 6a 02 15 00 02
			6b 02 15 00 02 6c 02 15 00 02 6d 02 15 00 02 6e
			02 15 00 02 6f 02 15 00 02 70 02 15 00 02 71 02
			15 00 02 72 02 15 00 02 73 02 15 00 02 74 02 15
			00 02 75 01 15 00 02 76 00 15 00 02 77 14 15 00
			02 78 15 15 00 02 79 0e 15 00 02 7a 0f 15 00 02
			7b 0c 15 00 02 7c 0d 15 00 02 7d 06 15 00 02 7e
			02 15 00 02 7f 07 15 00 02 80 02 15 00 02 81 02
			15 00 02 82 02 15 00 02 83 02 15 00 02 84 02 15
			00 02 85 02 15 00 02 86 02 15 00 02 87 02 15 00
			02 88 02 15 00 02 89 02 15 00 02 8a 02 39 00 04
			ff 98 81 04 15 00 02 38 01 15 00 02 39 00 15 00
			02 6c 15 15 00 02 6e 2a 15 00 02 6f 34 15 00 02
			3a 94 15 00 02 8d 14 15 00 02 87 ba 15 00 02 26
			76 15 00 02 b2 d1 15 00 02 b5 06 15 00 02 3b 98
			39 00 04 ff 98 81 01 15 00 02 22 09 15 00 02 2e
			78 15 00 02 31 00 15 00 02 53 90 15 00 02 55 a2
			15 00 02 50 b7 15 00 02 51 b7 15 00 02 60 22 15
			00 02 61 00 15 00 02 62 19 15 00 02 63 10 15 00
			02 a0 08 15 00 02 a1 1a 15 00 02 a2 27 15 00 02
			a3 15 15 00 02 a4 17 15 00 02 a5 2a 15 00 02 a6
			1e 15 00 02 a7 1f 15 00 02 a8 8b 15 00 02 a9 1b
			15 00 02 aa 27 15 00 02 ab 78 15 00 02 ac 18 15
			00 02 ad 18 15 00 02 ae 4c 15 00 02 af 21 15 00
			02 b0 27 15 00 02 b1 54 15 00 02 b2 67 15 00 02
			b3 39 15 00 02 c0 08 15 00 02 c1 1a 15 00 02 c2
			27 15 00 02 c3 15 15 00 02 c4 17 15 00 02 c5 2a
			15 00 02 c6 1e 15 00 02 c7 1f 15 00 02 c8 8b 15
			00 02 c9 1b 15 00 02 ca 27 15 00 02 cb 78 15 00
			02 cc 18 15 00 02 cd 18 15 00 02 ce 4c 15 00 02
			cf 21 15 00 02 d0 27 15 00 02 d1 54 15 00 02 d2
			67 15 00 02 d3 39 39 00 04 ff 98 81 00 15 00 02
			35 00 05 c8 01 11 05 28 01 29
		];
		panel-exit-sequence = <0x5dc0128 0x5780110>;

		display-timings {
			native-mode = <&panel_timing0>;

			panel_timing0: timing0 {
				clock-frequency = <47104000>;
				hactive = <720>;
				vactive = <960>;
				hsync-len = <14>;
				hback-porch = <20>;
				hfront-porch = <15>;
				vsync-len = <8>;
				vback-porch = <20>;
				vfront-porch = <30>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				mipi_in_panel: endpoint {
					remote-endpoint = <&mipi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			mipi_out_panel: endpoint {
				remote-endpoint = <&mipi_in_panel>;
			};
		};
	};
};

&gpu {
	operating-points-v2 = <&gpu_opp_table>;
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&hdmi {
	ddc-i2c-bus = <&i2c5>;
	pinctrl-0 = <&hdmitxm0_cec>;
	pinctrl-names = "default";
	status = "okay";
};





&hdmi_sound {
	status = "okay";
};

&i2c0 {
	status = "okay";

	rk817: pmic@20 {
		compatible = "rockchip,rk817";
		reg = <0x20>;
		clock-output-names = "rk808-clkout1", "rk808-clkout2";
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default", "pmic-sleep",
				"pmic-power-off", "pmic-reset";
		pinctrl-0 = <&pmic_int_l>;
		pinctrl-1 = <&soc_slppin_slp>, <&rk817_slppin_slp>;
		pinctrl-2 = <&soc_slppin_gpio>, <&rk817_slppin_pwrdn>;
		pinctrl-3 = <&soc_slppin_gpio>, <&rk817_slppin_rst>;
		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <1>;
		/* 1: rst regs (default in codes), 0: rst the pmic */
		pmic-reset-func = <0>;
		/* not save the PMIC_POWER_EN register in uboot */
		not-save-power-en = <1>;

		vcc1-supply = <&vcc_sys>;
		vcc2-supply = <&vcc_sys>;
		vcc3-supply = <&vcc_sys>;
		vcc4-supply = <&vcc_sys>;
		vcc5-supply = <&vcc_sys>;
		vcc6-supply = <&vcc_sys>;
		vcc7-supply = <&vcc_sys>;
		vcc8-supply = <&vcc_sys>;
		vcc9-supply = <&dcdc_boost>;

		pwrkey {
			status = "okay";
		};

		pinctrl_rk8xx: pinctrl_rk8xx {
			gpio-controller;
			#gpio-cells = <2>;

			rk817_slppin_null: rk817_slppin_null {
				pins = "gpio_slp";
				function = "pin_fun0";
			};

			rk817_slppin_slp: rk817_slppin_slp {
				pins = "gpio_slp";
				function = "pin_fun1";
			};

			rk817_slppin_pwrdn: rk817_slppin_pwrdn {
				pins = "gpio_slp";
				function = "pin_fun2";
			};

			rk817_slppin_rst: rk817_slppin_rst {
				pins = "gpio_slp";
				function = "pin_fun3";
			};
		};

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_logic";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vdd_gpu: DCDC_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_gpu";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;
				regulator-name = "vcc_ddr";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_3v3: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vcc_3v3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca1v8_pmu: LDO_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca1v8_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdda_0v9: LDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda_0v9";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_pmu: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-name = "vdda0v9_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vccio_acodec: LDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_acodec";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_sd";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_pmu: LDO_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcc_1v8: LDO_REG7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc1v8_dvp: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8_dvp";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc2v8_dvp: LDO_REG9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc2v8_dvp";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			dcdc_boost: BOOST {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <4700000>;
				regulator-max-microvolt = <5400000>;
				regulator-name = "boost";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			otg_switch: OTG_SWITCH {
				regulator-name = "otg_switch";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};

		battery {
			compatible = "rk817,battery";
			ocv_table = <3400 3501 3555 3627 3715 3783 3819
				     3839 3855 3866 3872 3886 3914 3977
				     4027 4033 4034 4036 4040 4070 4179>;
			design_capacity = <3853>;
			design_qmax = <4400>;
			bat_res = <61>;
			sleep_enter_current = <300>;
			sleep_exit_current = <300>;
			sleep_filter_current = <100>;
			power_off_thresd = <3400>;
			zero_algorithm_vol = <3850>;
			max_soc_offset = <60>;
			monitor_sec = <5>;
			sample_res = <10>;
			virtual_power = <0>;
		};

		rk817_charger: charger {
			compatible = "rk817,charger";
			min_input_voltage = <4500>;
			max_input_current = <1500>;
			max_chrg_current = <2000>;
			max_chrg_voltage = <4200>;
			chrg_term_mode = <0>;
			chrg_finish_cur = <300>;
			virtual_power = <0>;
			dc_det_adc = <0>;
			otg5v_suspend_enable = <1>;
			extcon = <&usb2phy0>;
			rockchip,charger-use-pmic-plug;
		};

		rk817_codec: codec {
			compatible = "rockchip,rk817-codec";
			#sound-dai-cells = <0>;
			clocks = <&cru I2S1_MCLKOUT>;
			clock-names = "mclk";
			assigned-clocks = <&cru I2S1_MCLKOUT>,
					  <&cru I2S1_MCLK_TX_IOE>;
			assigned-clock-rates = <12288000>;
			assigned-clock-parents = <&cru I2S1_MCLKOUT_TX>,
						 <&cru I2S1_MCLKOUT_TX>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2s1m0_mclk>;
			hp-volume = <20>;
			spk-volume = <3>;
			out-l2spk-r2hp;
			status = "okay";
		};

	};

	vdd_cpu: regulator@1c {
		compatible = "tcs,tcs4525";
		reg = <0x1c>;
		fcs,suspend-voltage-selector = <1>;
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1390000>;
		regulator-name = "vdd_cpu";
		regulator-ramp-delay = <2300>;
		vin-supply = <&vcc_sys>;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c1 {
	status = "okay";
	led_left: led-controller@3a {
		compatible = "awinic,aw20036";
		reg = <0x3a>;
		enable-gpios = <&gpio4 RK_PC3 GPIO_ACTIVE_HIGH>;
		status = "okay";
		awinic,joystick-leds;
		#address-cells = <1>;
		#size-cells = <0>;
		led@1 {
			reg = <1>;
			led-max-microamp = <5000>;
			label = "awinic1";
		};
		led@2 {
			reg = <2>;
			led-max-microamp = <5000>;
			label = "awinic2";
		};
		led@3 {
			reg = <3>;
			led-max-microamp = <5000>;
			label = "awinic3";
		};
		led@4 {
			reg = <4>;
			led-max-microamp = <5000>;
			label = "awinic4";
		};
		led@5 {
			reg = <5>;
			led-max-microamp = <5000>;
			label = "awinic5";
		};
		led@6 {
			reg = <6>;
			led-max-microamp = <5000>;
			label = "awinic6";
		};
		led@7 {
			reg = <7>;
			led-max-microamp = <5000>;
			label = "awinic7";
		};
		led@8 {
			reg = <8>;
			led-max-microamp = <5000>;
			label = "awinic8";
		};
		led@9 {
			reg = <9>;
			led-max-microamp = <5000>;
			label = "awinic9";
		};
		led@10 {
			reg = <10>;
			led-max-microamp = <5000>;
			label = "awinic10";
		};
		led@11 {
			reg = <11>;
			led-max-microamp = <5000>;
			label = "awinic11";
		};
		led@12 {
			reg = <12>;
			led-max-microamp = <5000>;
			label = "awinic12";
		};
		led@13 {
			reg = <13>;
			led-max-microamp = <5000>;
			label = "awinic13";
		};
		led@14 {
			reg = <14>;
			led-max-microamp = <5000>;
			label = "awinic14";
		};
		led@15 {
			reg = <15>;
			led-max-microamp = <5000>;
			label = "awinic15";
		};
		led@16 {
			reg = <16>;
			led-max-microamp = <5000>;
			label = "awinic16";
		};
		led@17 {
			reg = <17>;
			led-max-microamp = <5000>;
			label = "awinic17";
		};
		led@18 {
			reg = <18>;
			led-max-microamp = <5000>;
			label = "awinic18";
		};
		led@19 {
			reg = <19>;
			led-max-microamp = <5000>;
			label = "awinic19";
		};
		led@20 {
			reg = <20>;
			led-max-microamp = <5000>;
			label = "awinic20";
		};
		led@21 {
			reg = <21>;
			led-max-microamp = <5000>;
			label = "awinic21";
		};
		led@22 {
			reg = <22>;
			led-max-microamp = <5000>;
			label = "awinic22";
		};
		led@23 {
			reg = <23>;
			led-max-microamp = <5000>;
			label = "awinic23";
		};
		led@24 {
			reg = <24>;
			led-max-microamp = <5000>;
			label = "awinic24";
		};
		led@25 {
			reg = <25>;
			led-max-microamp = <5000>;
			label = "awinic25";
		};
		led@26 {
			reg = <26>;
			led-max-microamp = <5000>;
			label = "awinic26";
		};
		led@27 {
			reg = <27>;
			led-max-microamp = <5000>;
			label = "awinic27";
		};
		led@28 {
			reg = <28>;
			led-max-microamp = <5000>;
			label = "awinic28";
		};
		led@29 {
			reg = <29>;
			led-max-microamp = <5000>;
			label = "awinic29";
		};
		led@30 {
			reg = <30>;
			led-max-microamp = <5000>;
			label = "awinic30";
		};
		led@31 {
			reg = <31>;
			led-max-microamp = <5000>;
			label = "awinic31";
		};
		led@32 {
			reg = <32>;
			led-max-microamp = <5000>;
			label = "awinic32";
		};
	};
};

&i2c5 {
	pinctrl-0 = <&i2c5m0_xfer>;
	pinctrl-names = "default";
	status = "disabled";
	clock-frequency = <400000>;
	i2c-scl-rising-time-ns = <144>;
	i2c-scl-falling-time-ns = <4>;

	sensor@18 {
		compatible = "gs_sc7a20";
		reg = <0x18>;
		type = <2>;
		irq_enable = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&sensor_gpio>;
		irq-gpio = <&gpio3 RK_PA2 1>;
		poll_delay_ms = <10>;
		layout = <1>;
	};
};

&i2s0_8ch {
	status = "okay";
};

&i2s1_8ch {
	pinctrl-0 = <&i2s1m0_sclktx>, <&i2s1m0_lrcktx>, <&i2s1m0_sdi0>,
		    <&i2s1m0_sdo0>;
	pinctrl-names = "default";
	rockchip,clk-trcm = <1>;
	status = "okay";
};

&pinctrl {
	audio-amplifier {
		spk_amp_enable_h: spk-amp-enable-h {
			rockchip,pins =
				<0 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	gpio-control {
		btn_pins_ctrl: btn-pins-ctrl {
			rockchip,pins =
				<3 RK_PD1 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>,
				<4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>,
				<4 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>,
				<4 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,
				<4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>,
				<4 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>,
				<4 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD7 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		btn_pins_vol: btn-pins-vol {
			rockchip,pins =
				<4 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,
				<4 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	lcd {
		lcd_enable_gpio: lcd-enable-gpio {
			rockchip,pins =
				<0 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		lcd_rst_gpio: lcd-rst-gpio {
			rockchip,pins =
				<0 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	hp-detect {
		hp_det: hp-det {
			rockchip,pins =
				<4 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	sensor {
		sensor_gpio: sensor-gpio {
			rockchip,pins =
				<3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pmic {
		pmic_int_l: pmic-int-l {
			rockchip,pins =
				<0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		soc_slppin_gpio: soc_slppin_gpio {
			rockchip,pins =
				<0 RK_PA2 RK_FUNC_GPIO &pcfg_output_low>;
		};

		soc_slppin_slp: soc_slppin_slp {
			rockchip,pins =
				<0 RK_PA2 1 &pcfg_pull_up>;
		};

		soc_slppin_rst: soc_slppin_rst {
			rockchip,pins =
				<0 RK_PA2 2 &pcfg_pull_none>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins =
				<0 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins =
				<0 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		/*vcc5v0_otg_en: vcc5v0-otg-en {
			rockchip,pins =
				<0 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>;
		};*/
	};

	vcc-spk {
		vcc_spk_en: vcc-spk-en {
			rockchip,pins =
				<0 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	vcc-wifi {
		vcc_wifi_h: vcc-wifi-h {
			rockchip,pins =
				<2 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	vcc-sd {
		vcc_sd_h: vcc-sd-h {
			rockchip,pins =
				<0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pmu_io_domains {
	status = "okay";
	pmuio1-supply = <&vcc3v3_pmu>;
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vccio_acodec>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcca1v8_pmu>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_3v3>;
	vccio7-supply = <&vcc_3v3>;
};

&pwm3 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

&sdhci {
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	max-frequency = <200000000>;
	status = "okay";
};

&sdmmc0 {
	bus-width = <4>;
	no-sdio;
	no-mmc;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	pinctrl-0 = <&sdmmc0_bus4>, <&sdmmc0_clk>, <&sdmmc0_cmd>,
		    <&sdmmc0_det>;
	pinctrl-names = "default";
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_sd>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

&sdmmc1 {
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	disable-wp;
	keep-power-in-suspend;
	max-frequency = <200000000>;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-0 = <&sdmmc1_bus4>, <&sdmmc1_cmd>, <&sdmmc1_clk>;
	pinctrl-names = "default";
	no-mmc;
	no-sd;
	sd-uhs-sdr104;
	rockchip,default-sample-phase = <90>;
	status = "okay";
};

&sdmmc2 {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	pinctrl-0 = <&sdmmc2m1_bus4>, <&sdmmc2m1_cmd>, <&sdmmc2m1_clk>,
		    <&sdmmc2m1_det>;
	pinctrl-names = "default";
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_sd>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

&tsadc {
	rockchip,hw-tshut-mode = <1>;
	rockchip,hw-tshut-polarity = <0>;
	status = "okay";
};

&uart1 {
	pinctrl-0 = <&uart1m0_xfer>, <&uart1m0_ctsn>, <&uart1m0_rtsn>;
	pinctrl-names = "default";
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "realtek,rtl8821cs-bt", "realtek,rtl8723bs-bt";
		device-wake-gpios = <&gpio2 RK_PC4 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		host-wake-gpios = <&gpio2 RK_PC3 GPIO_ACTIVE_HIGH>;
	};
};

&uart2 {
	status = "okay";
};





&vop {
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&usb2phy0 {
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
};

&u2phy0_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb_host0_ehci {
	status = "disabled";
};

&usb_host0_ohci {
	status = "disabled";
};

&usb_host1_ehci {
	status = "disabled";
};

&usb_host1_ohci {
	status = "disabled";
};

&usbdrd_dwc3 {
	dr_mode = "otg";
	extcon = <&usb2phy0>;
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usbhost_dwc3 {
	status = "disabled";
};

&usbhost30 {
	status = "disabled";
};

&video_phy0 {
	status = "okay";
};

&dsi0_in_vp0 {
	status = "okay";
};

&dsi0_in_vp1 {
	status = "disabled";
};

&route_dsi0 {
	status = "okay";
	connect = <&vp0_out_dsi0>;
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdmi_in_vp1 {
	status = "disabled";
};

&route_hdmi {
	status = "okay";
	connect = <&vp0_out_hdmi>;
};
